name: debug_pipeline

on:
  workflow_dispatch:
    inputs:
      source_workflow:
        description: 'CICD.yml'
        required: true
        default: 'CICD.yml'
      source_run_id:
        description: 'Run ID of the successful build_project_sonar_scan job'
        required: true
        type: string  # GitHub requires string for run_id

jobs:
  docker_build_push:
    runs-on: self-hosted
    needs: build_project_sonar_scan
    steps:
      - uses: actions/checkout@v4

      - name: Download jar artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: app
          
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: yogas4/bank-app:v1.0.0
          file: ./Dockerfile

  Deploy_to_Kubernetes:
    runs-on: self-hosted
    needs: docker_build_push
    steps:
      - uses: actions/checkout@v4
      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "$KUBECONFIG_CONTENT" | base64 -d > $HOME/.kube/config
          chmod 600 $HOME/.kube/config
        env:
          KUBECONFIG_CONTENT: ${{ secrets.KUBECONFIG }}

      - name: Deploy to cluster
        run: kubectl apply -f k8s/ 
